{% extends 'base.html' %}
{% block title  %}contacts{% endblock title %}
{% block content %}
<h2 class="text-center">Get In Touch With Us</h2>
<hr>
<p class="text-center">If you can't find an answer to your questions, please don't hesitate to contact us.</p>
<div class="text-center">
<h4>Baby Memorial Hospital Limited</h4>
<p>Indira Gandhi Road, Kozhikode - 673004 Kerala, India</p>
<h5>PHONE</h5>
<a href="">+91-495-2723272</a>
<h5>EMERGENCY</h5>
<a href="">+91 974 720 0002</a>
<h5>EMAIL</h5>
<a href="">info@babymhospital.org</a>
</div>

{% endblock content %}
